*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

body {
   font-family: Whitney, 'Helvetica Neue', sans-serif;
}

.container {
   width: 75%;
   margin: 0 auto;
}

.rnd-white {
   text-decoration: none;
   color: black;
   background: white;
   border-radius: 30px;
   padding: 10px;
}

.rnd-black {
   text-decoration: none;
   color: white;
   background: black;
   border-radius: 30px;
   padding: 10px;
}

.rnd-violet {
   text-decoration: none;
   color: white;
   background: #8ea1e1;
   border-radius: 30px;
   padding: 10px;
}

.rnd-bigger {
   padding: 15px 25px
}

.rnd-smaller {
   padding: 10px 15px;
   font-size: 10px;
}

.grey {
   background-color: rgb(242, 242, 242);
}

.wave {
   background-image: url(../img/wave.svg);
   height: 100px;
   filter: opacity(0.05)
}

.whiteWave {
   background-image: url(../img/wave.svg);
   height: 100px;
   filter: opacity(0.05);
   transform: rotate(180deg)
}
/* FINE COMMON */



/* INIZIO HEADER */

header {
   background: #255EE9;
   position: fixed;
   width: 100vw;
   height: 100px;
}

.spacer {
height: 100px;
background-color: red;
}

.wrapper {
   height: 100px;
}

header > .container > .wrapper > #logo,
header > .container > .wrapper > nav,
header > .container > .wrapper > .login-btn {
   float: left;
   text-align: center;
   margin-top: 20px;
}

#logo {
   height: 30px;
}

header .login-btn {
   line-height: 40px;
}

header .login-btn a {
   font-size: 14px;
}

header #logo,
header .login-btn {
   width: calc(100% / 6 - 5px);
   text-align: center;
}

header > .container > .wrapper > nav {
   width: calc(100% / 6 * 4);
}

header > .container > .wrapper > nav > ul {
   list-style: none;
}

header > .container > .wrapper > nav > ul > li {
   display: inline-block;
   color: white;
   text-decoration: none;
   font-size: 14px;
}

header > .container > .wrapper > nav > ul > li > a {
   color: white;
   text-decoration: none;
   padding: 0 25px;
}
/* FINE HEADER */



/* INIZIO MAIN */

/* Inizio mainBanner */
.mainBanner {
   background-image: url("../img/jumbo.png");
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   text-align: center;
}

main .mainBanner > h1 {
   margin-bottom: 35px;
   padding-top: 90px;
   font-size: 40px
}

main .mainBanner > p {
   line-height: 1.5em;
}

main > .mainBanner > .buttons {
   padding: 35px 0 140px 0;
}

main > .mainBanner > .buttons > div{
   margin: 0 10px;
}

main .mainBanner > .buttons >.downloadClient {
   display: inline;
}

main .mainBanner > .buttons > .openInBrowser {
   display: inline;
   height: 100%
}
/* Fine mainBanner */

/* Inizio .mainContent */

.mainContent {
   padding-top: 100px
}

.mainContent .mainInfos img {
   float: left;
   width: 50%;
} 

.mainContent .mainInfos .text {
   float: left;
   width: 50%;
} 
.mainContent .mainInfos .text h2 {
   font-size: 40px;
   padding: 0 0 25px 50px;
   width:50%;
   margin: 0 auto;
}

.mainContent .mainInfos .text p {
   font-size: 17px;
   padding: 0 0 25px 50px;
   width: 50%;
   margin: 0 auto;
   line-height: 1.5em;
}

.mainContent .mainInfos{
   padding: 100px 0;
}


.mainInfos::after {
content: ''; 
display: table;
clear: both;
}
/* Fine .mainContent */

.lastInfo {
   text-align: center;
   padding-top: 50px;
}

.lastInfo > h2 {
   font-size: 40px;
   padding-bottom: 20px
}

.lastInfo > p {
   width: 60%;
   margin: 0 auto;
   font-size: 17px;   
}

.ready {
   height: 3em;
   line-height: 6em;
   font-size: 24px;
   background-image: url("../img/stars.svg");
   background-repeat: no-repeat;
   background-position: center;
}

.lastInfo .downloadClient {
   padding-top: 70px;
   padding-bottom: 150px
}
/* FINE MAIN */

/* INIZIO FOOTER */

footer {
   background-color: #23272a;
   padding-top: 50px
}

footer ul {
   list-style: none;
   color: #8ea1e1;
   font-weight: bold;
}

footer ul li {
   padding: 5px 0;
   font-size: 14px;
}

footer ul > li> a{
   list-style: none;
   color: white;
   text-decoration: none;
   font-size: 12px
}

footer > .container > .col {
   float: left;
   color: white;
   width: calc(100% / 6);
}

footer > .container > .col-large {
   float: left;
   color: white;
   width: calc(100% / 6 * 2);
}

footer .col-large h2 {
   width: 50%;
   color: #8ea1e1;
   padding-bottom: 15px;
}

footer .language .langIco {
   height: 10px;
}

footer .language .lang {
   display: inline-block;
   font-size: 10px;
   line-height: 10px;
   padding-bottom: 15px;
}

.icons i{
   padding-right: 15px
}


footer .container::after {
content: ''; 
display: table;
clear: both;
}


footer .foot {
   border-top: 1px solid#8ea1e1;
   margin-top: 20px;
   padding: 20px 0 50px 0
}

footer .foot img {
   height: 30px;
   float: left;
}

footer .foot .register {
   float: right;
}

footer .foot::after {
content: ''; 
display: table;
clear: both;
}


/* FINE FOOTER */