*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

/* FINE COMMON */

/* INIZIO HEADER */

/* FINE HEADER */

/* INIZIO MAIN */

/* FINE MAIN */

/* INIZIO FOOTER */

/* FINE FOOTER */




/* INIZIO DEBUG */

/* FINE DEBUG */