*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

body {
   font-family: Whitney, 'Helvetica Neue', sans-serif;
}

header {
   background-image: url("../img/jumbo.png");
   background-size: contain;
   background-repeat: no-repeat;
}
/* FINE COMMON */



/* INIZIO HEADER */

/* FINE HEADER */



/* INIZIO MAIN */

/* FINE MAIN */



/* INIZIO FOOTER */

/* FINE FOOTER */




/* INIZIO DEBUG */










