*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

/* INIZIO COMMON */

body {
   font-family: Whitney, 'Helvetica Neue', sans-serif;
}

.container {
   width: 75%;
   margin: 0 auto;
}

.rnd-white {
   text-decoration: none;
   color: black;
   background: white;
   border-radius: 30px;
   padding: 10px;
}

.rnd-black {
   text-decoration: none;
   color: white;
   background: black;
   border-radius: 30px;
   padding: 10px;
}
/* FINE COMMON */



/* INIZIO HEADER */
header {
   background: #255EE9;
}

.wrapper {
   height: 100px;
   line-height: 100px;
}

header > .container > .wrapper > #logo,
header > .container > .wrapper > nav,
header > .container > .wrapper > .login-btn {
   display: inline-block;
   text-align: center;
   vertical-align: top;
}
#logo {
   height: 100px
}

header #logo,
header .login-btn {
   width: calc(100% / 6 - 5px);
   text-align: center;
}

header > .container > .wrapper > nav {
   width: calc(100% / 6 * 4);
}

header > .container > .wrapper > nav > ul {
   list-style: none;
   line-height: 100px
}

header > .container > .wrapper > nav > ul > li {
   display: inline-block;
   color: white;
   text-decoration: none;
   font-size: 15px;
   height: 100px;
   line-height: 100px;
   vertical-align: top;
}

header > .container > .wrapper > nav > ul > li > a {
   color: white;
   text-decoration: none;
   padding: 0 15px;
   display: inline-block; 
   vertical-align: top;
   
}
/* FINE HEADER */



/* INIZIO MAIN */

.mainBanner {
   background-image: url("../img/jumbo.png");
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
   text-align: center;
}

main .mainBanner > h1 {
   margin-bottom: 35px;
   padding-top: 90px;
   font-size: 40px
}

main .mainBanner > p {
   line-height: 1.5em;
}

.buttons {
   padding: 25px 0 150px 0;

}

main .mainBanner > .buttons >.downloadClient {
   display: inline;

}

main .mainBanner > .buttons > .openInBrowser {
   display: inline;
   height: 100%
}

/* FINE MAIN */



/* INIZIO FOOTER */

/* FINE FOOTER */